{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Store Locator</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'storelocator_ui/img/wired-brain-coffee-logo.png' %}"
    />
    <link href="{% static 'storelocator_ui/css/app.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div id="root"></div>

    <script
      defer="defer"
      src="{% static 'storelocator_ui/js/bundle.js' %}"
    ></script>
  </body>
</html>
